@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");

html,
body {
  font-family: "Baskervville", serif;
  background-color: #fcfcfc;
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.nav-container {
  margin: auto;
  font-family: "Baskervville", serif;
}

a {
  text-decoration: none;
}
